fastapi
uvicorn[standard]
jinja2
python-multipart
aiofiles
itsdangerous
mysql-connector-python
pydantic
python-dotenv
sqlmodel
pwdlib[argon2]
pydantic[email]
numpy
pandas
matplotlib
joblib
scikit-learn
xgboost
resend
requests
